.main-title {
  font-size: 3rem;
  font-family: var(--secondary-font);
  font-weight: normal;
  text-align: center;
  color: var(--main-color-blue);
  margin: 0;

  margin-top: 8rem;
  margin-bottom: 8rem;
  position: relative;
}

.main-title::after {
  content: "";
  width: 6rem;
  height: 0.4rem;
  background-color: var(--main-color-blue);

  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
}
