<app-text-field [label]="'Nome'" [id]="'nameField'" [control]="nameField" />

<div>
  <output>{{ nameField.value }}</output>
</div>

<br />

<app-text-field [label]="'Idade'" [id]="'ageField'" [control]="ageField" />

<div>
  <output>{{ ageField.value == 0 ? "" : ageField.value }}</output>
</div>

<br />

<app-button [type]="'submit'" (onClick)="changeNameField()">
  Alterar nome
</app-button>

<br />
<br />

<app-button [type]="'submit'" (onClick)="clearNameField()">
  Limpar campo
</app-button>
