<form (ngSubmit)="onSubmit()" ngNativeValidate>
  <h1>Nova transação</h1>

  <div id="form-fields-container">
    <app-select-field
      [id]="'transaction-options'"
      [name]="'transaction-options'"
      [label]="'Transação'"
      [required]="true"
      [optionPlaceholder]="'Selecione o tipo de transação'"
      [selectOptions]="['Depósito', 'Saque']"
      [(ngModel)]="this.formValues.transactionType"
    />

    <app-input-field
      [id]="'transaction-value'"
      [name]="'transaction-value'"
      [label]="'Valor'"
      [type]="'number'"
      [placeholder]="'R$ 00,00'"
      [required]="true"
      [step]="'0.01'"
      [min]="'0.01'"
      [(ngModel)]="this.formValues.transactionValue"
    />
  </div>

  <div id="button-container">
    <app-button [type]="'submit'" [label]="'Confirmar transação'" />
  </div>
</form>

<app-modal
  [isOpen]="this.isModalOpen()"
  (onClose)="this.isModalOpen.set(false)"
>
  <p id="success-message" modalContent>Operação realizada com sucesso!</p>
</app-modal>
