<form>
  <h1>Nova transação</h1>

  <div id="form-fields-container">
    <app-select-field
      id="transaction-option"
      label="Transação"
      name="transaction-option"
      [required]="true"
      optionPlaceholder="Selecione o tipo de transação"
      [selectOptions]="['Depósito', 'Saque']"
    />

    <app-input-field
      name="transaction-value"
      id="transaction-value"
      label="Valor"
      type="number"
      placeholder="R$ 00,00"
      [required]="true"
    />
  </div>

  <div id="button-container">
    <app-button type="submit" label="Confirmar transação" />
  </div>
</form>
