<header class="bg-black w-full p-4 flex items-center justify-around">
  <img src="assets/logo.png" class="w-40" alt="Logo Jornada." />

  <div class="flex items-center gap-10">
    <div class="flex items-center gap-10">
      <a class="text-white text-base cursor-pointer">Vender milhas</a>
      <a class="text-white text-base cursor-pointer">Sobre</a>
    </div>

    <div class="flex items-center gap-4">
      @if(isLoggedIn()){
      <img src="/assets/user-profile.png" class="w-10" alt="Imagem de perfil de usuário." />
      }@else {
      <button matButton="filled">Cadastre-se</button>
      }
      <!--  -->
      @if(isLoggedIn()){
      <button matButton="outlined" (click)="logout()">Sair</button>
      }@else {
      <button matButton="outlined" (click)="login()">
        <mat-icon>exit_to_app</mat-icon>
        Login
      </button>
      }
    </div>
  </div>
</header>
