#input-field-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: flex-start;
}

label {
  font-weight: 600;
  font-size: 1.6rem;
}

input {
  all: unset;
  border-radius: 1.6rem;
  border: 2px solid var(--neutral-black);

  padding: 0.5rem 0.7rem;
  width: 30rem;
  font-size: 1.6rem;
  background-color: white;
}

input:focus {
  border: 2px solid var(--primary-blue-pressed);
}
