#app {
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

#app-container {
  padding: 1.2rem;
  margin-top: 10rem;

  flex-basis: 1024px;
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
}

#main-content-container {
  flex-basis: 70%;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;

  background-color: var(--bg-light-blue);
  border-radius: 0.8rem;
  padding: 3.2rem;
}

#statement {
  align-self: stretch;
  flex-basis: 30%;
}

@media (max-width: 900px) and (orientation: landscape) {
  #app-container {
    margin-top: 2rem;
  }
}

@media (max-width: 769px) {
  #app-container {
    flex-direction: column;
    margin-top: 2rem;
  }

  #main-content-container {
    align-self: stretch;
  }
}
