header {
  display: flex;
  justify-content: space-between;

  padding: 4rem;
  border-radius: 0.8rem;
  background: linear-gradient(to top, #6bdf, #fff);
}

#user-date-info {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

time {
  font-size: 1.3rem;
}

#user-message {
  all: unset;
  font-size: 3.1rem;
  font-weight: 600;
}
