<form
  (ngSubmit)="onSubmit()"
  [formGroup]="userForm"
  class="border-2 border-white p-6 flex flex-col gap-4 items-center"
>
  <p class="text-white">Form Utilizando o FormBuilder service</p>
  <p [class]="userForm.status == 'INVALID' ? 'text-red-300' : 'text-white'">
    {{ userForm.status }}
  </p>

  <div class="flex gap-4">
    <div class="flex flex-col gap-2">
      <div>
        <app-text-field
          [class]="
            userForm.get('name')?.invalid && userForm.get('name')?.touched
              ? 'border-2 border-red-300'
              : ''
          "
          [id]="'name'"
          [label]="'Nome'"
          [control]="userForm.controls.name"
        />

        <app-error-message
          *ngIf="userForm.get('name')?.errors?.['required'] && userForm.get('name')?.touched"
          [message]="'Campo obrigatório'"
        />

        <app-error-message
          *ngIf="userForm.get('name')?.errors?.['minlength']"
          [message]="'Mínimo 3 caracteres'"
        />

        <app-error-message
          *ngIf="userForm.get('name')?.errors?.['maxlength']"
          [message]="'Máximo 64 caracteres'"
        />
      </div>

      <div>
        <app-text-field
          [class]="
            userForm.get('email')?.invalid && userForm.get('email')?.touched
              ? 'border-2 border-red-300'
              : ''
          "
          [id]="'email'"
          [label]="'E-mail'"
          [control]="userForm.controls.email"
        />

        <app-error-message
          *ngIf="
            userForm.get('email')?.errors?.['required'] && userForm.get('email')?.touched
          "
          [message]="'Campo obrigatório'"
        />

        <app-error-message
          *ngIf="
            userForm.get('email')?.errors?.['email']
          "
          [message]="'E-mail inválido'"
        />
      </div>

      <div>
        <app-text-field
          [class]="
            userForm.get('age')?.invalid && userForm.get('age')?.touched
              ? 'border-2 border-red-300'
              : ''
          "
          [id]="'age'"
          [label]="'Idade'"
          [control]="userForm.controls.age"
        />

        <app-error-message
          *ngIf="userForm.get('age')?.errors?.['required'] && userForm.get('age')?.touched"
          [message]="'Campo obrigatório'"
        />

        <app-error-message
          *ngIf="userForm.get('age')?.errors?.['max']"
          [message]="'Idade máxima 120'"
        />

        <app-error-message
          *ngIf="userForm.get('age')?.errors?.['min']"
          [message]="'Idade mínima 18'"
        />
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <div>
        <app-text-field
          [class]="
            userForm.get('address.street')?.invalid &&
            userForm.get('address.street')?.touched
              ? 'border-2 border-red-300'
              : ''
          "
          [id]="'street'"
          [label]="'Rua'"
          [control]="$any(userForm.get('address.street'))"
        />

        <app-error-message
          *ngIf="
            userForm.get('address.street')?.touched &&
            userForm.get('address.street')?.errors?.['required']
          "
          [message]="'Campo obrigatório'"
        />

        <app-error-message
          *ngIf="
            
            userForm.get('address.street')?.errors?.['maxlength']
          "
          [message]="'Máximo 54 caracteres'"
        />

        <app-error-message
          *ngIf="
            userForm.get('address.street')?.errors?.['minlength']
          "
          [message]="'Mínimo 5 caracteres'"
        />
      </div>

      <div>
        <app-text-field
          [class]="
            userForm.get('address.city')?.invalid &&
            userForm.get('address.city')?.touched
              ? 'border-2 border-red-300'
              : ''
          "
          [id]="'city'"
          [label]="'Cidade'"
          [control]="$any(userForm.get('address.city'))"
        />

        @if(userForm.get('address.city')?.invalid &&
        userForm.get('address.city')?.touched){
        <app-error-message [message]="'Informe a cidade corretamente'" />
        }
      </div>

      <div>
        <app-text-field
          [class]="
            userForm.get('address.state')?.invalid &&
            userForm.get('address.state')?.touched
              ? 'border-2 border-red-300'
              : ''
          "
          [id]="'state'"
          [label]="'Estado'"
          [control]="$any(userForm.get('address.state'))"
        />

        @if(userForm.get('address.state')?.invalid &&
        userForm.get('address.state')?.touched){
        <app-error-message [message]="'Informe o estado corretamente'" />
        }
      </div>
    </div>
  </div>

  <div>
    <app-select-field
      [id]="'role'"
      [label]="'Cargo'"
      [optionLabel]="'Informe seu cargo'"
      [options]="roleOptions"
      [control]="$any(userForm.get('role'))"
      [class]="
        userForm.get('role')?.invalid && userForm.get('role')?.touched
          ? 'border-2! border-red-300!'
          : ''
      "
    />

    @if(userForm.get('role')?.invalid && userForm.get('role')?.touched){
    <app-error-message [message]="'Informe o cargo'" />
    }
  </div>

  <div>
    <div class="flex gap-4">
      <div>
        <app-text-field
          [id]="'password'"
          [control]="$any(userForm.get('password'))"
          [label]="'Senha'"
        />

        @if(userForm.get('password')?.invalid &&
        userForm.get('password')?.touched){
        <app-error-message [message]="'Informe a senha'" />
        }
      </div>

      <div>
        <app-text-field
          [id]="'same-password'"
          [control]="$any(userForm.get('samePassword'))"
          [label]="'Repita a senha'"
        />

        @if(userForm.hasError('samePasswordValidator') &&
        userForm.get('samePassword')?.touched) {
        <app-error-message [message]="'Senhas incompatíveis'" />
        }
      </div>
    </div>
  </div>

  <div class="flex gap-4 mt-4">
    <app-button [disabled]="false" [variant]="'secondary'" [type]="'submit'"
      >Enviar</app-button
    >

    <app-button
      [variant]="'primary'"
      [type]="'button'"
      (onClick)="resetFields()"
      >Limpar</app-button
    >
  </div>
</form>
